@charset "UTF-8";
/* =================== Stylesheet Info =================== */
/* Stylesheet for Project Name */
/* Version 1.0 modified on ${DATE} ${TIME} */
/* Copyright©2012 Matt Ma Design */
/* Senior Web Developer -- Matt Ma. ( matt@mattmadesign.com ) */
/* http://www.mattmadesign.com */
/* COLOR SETTING */
.lt-ie9 .clear {
  zoom: 1;
  display: block;
}
.lt-ie9 sup {
  vertical-align: text-top;
}
.lt-ie9 sub {
  vertical-align: text-bottom;
}
.lt-ie9 .clearfix {
  display: inline-block;
}
.lt-ie9 * html .clearfix {
  height: 1%;
}
.lt-ie9 legend {
  margin-left: -7px;
}
.lt-ie9 input[type="checkbox"], .lt-ie9 input[type="checkbox"] {
  vertical-align: baseline;
}
.lt-ie9 img {
  -ms-interpolation-mode: bicubic;
}

.lt-ie8 .gainlayout {
  min-height: 0;
  height: 1px;
  zoom: 1;
}
.lt-ie8 a:hover {
  cursor: pointer;
}
.lt-ie8 hr {
  margin: -8px auto 11px;
}
.lt-ie8 > body p code {
  *white-space: normal;
}
.lt-ie8 textarea {
  overflow: auto;
}
.lt-ie8 label {
  vertical-align: middle;
  position: relative;
  top: -0.25em;
}
