# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Numerous always-ignore extensions
*.sass-cache
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.css
*.css.map

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/
build/

# Application Ignore file
compass_app_log.txt
