@charset "UTF-8";
/* COLOR SETTING */
.content {
  content: "";
  content: "matt";
  content: "mattma";
}
.content:before {
  color: red;
}
.content:after {
  color: green;
}
.content:hover {
  color: purple;
}
.content:first-child {
  color: maroon;
}
.content:first-child {
  color: green;
}

.test:before {
  content: "";
  display: block;
  background: url("../images/main/test.png") 20% 20em no-repeat;
  height: 10px;
  width: 200em;
  position: absolute;
  top: 100px;
  left: 340px;
}
.test:after {
  content: "";
  display: block;
  background: url("../images/main/test1.gif") 20% 20em no-repeat;
  height: 10px;
  width: 200em;
  position: absolute;
  bottom: 100px;
  right: 340px;
}
.test:nth-child(3) {
  color: green;
}
