@charset "UTF-8";
/* COLOR SETTING */
.color {
  color: #c9c90a;
  color: #c9660c;
  color: red;
  color: #342342;
}

.gbar {
  background-color: #c93430;
  background-image: -moz-linear-gradient(top, red, #79837a);
  background-image: -ms-linear-gradient(top, red, #79837a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(#79837a));
  background-image: -webkit-linear-gradient(top, red, #79837a);
  background-image: -o-linear-gradient(top, red, #79837a);
  background-image: linear-gradient(top, #ff0000, #79837a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='#79837a', GradientType=0);
  border-color: #79837a #79837a #545b55;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.ghorizontal {
  background-color: #79837a;
  background-image: -moz-linear-gradient(left, red, #79837a);
  background-image: -ms-linear-gradient(left, red, #79837a);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(red), to(#79837a));
  background-image: -webkit-linear-gradient(left, red, #79837a);
  background-image: -o-linear-gradient(left, red, #79837a);
  background-image: linear-gradient(left, #ff0000, #79837a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='#79837a', GradientType=1);
}

.gvertical {
  background-color: #c93430;
  background-image: -moz-linear-gradient(top, red, #79837a);
  background-image: -ms-linear-gradient(top, red, #79837a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), to(#79837a));
  background-image: -webkit-linear-gradient(top, red, #79837a);
  background-image: -o-linear-gradient(top, red, #79837a);
  background-image: linear-gradient(top, #ff0000, #79837a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='#79837a', GradientType=0);
}

.gdiagonal {
  background-color: #79837a;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(45deg, red, #79837a);
  background-image: -ms-linear-gradient(45deg, red, #79837a);
  background-image: -webkit-linear-gradient(45deg, red, #79837a);
  background-image: -o-linear-gradient(45deg, red, #79837a);
  background-image: linear-gradient(45deg, #ff0000, #79837a);
}

.gvertical3colors {
  background-color: #877274;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(red), color-stop(50%, #79837a), to(#c3325f));
  background-image: -webkit-linear-gradient(red, #79837a 50%, #c3325f);
  background-image: -moz-linear-gradient(top, red, #79837a 50%, #c3325f);
  background-image: -ms-linear-gradient(red, #79837a 50%, #c3325f);
  background-image: -o-linear-gradient(red, #79837a 50%, #c3325f);
  background-image: linear-gradient(#ff0000, #79837a 50%, #c3325f);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red', endColorstr='#c3325f', GradientType=0);
}

.gradial {
  background-color: #79837a;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(red), to(#79837a));
  background-image: -webkit-radial-gradient(circle, red, #79837a);
  background-image: -moz-radial-gradient(circle, red, #79837a);
  background-image: -ms-radial-gradient(circle, red, #79837a);
  background-repeat: no-repeat;
}

.gstripe {
  background-color: red;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
}
