/* COLOR SETTING */
@-webkit-keyframes fadeIn {
  /* line 2, ../sass/framework/animation/_fade_in.sass */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 4, ../sass/framework/animation/_fade_in.sass */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 2, ../sass/framework/animation/_fade_in.sass */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 4, ../sass/framework/animation/_fade_in.sass */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  /* line 2, ../sass/framework/animation/_fade_in.sass */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 4, ../sass/framework/animation/_fade_in.sass */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 2, ../sass/framework/animation/_fade_in.sass */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 4, ../sass/framework/animation/_fade_in.sass */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-animate\.sass}line{font-family:\000035}}
.animate {
  -webkit-animation: fadeIn 3s 2s ease both;
  -moz-animation: fadeIn 3s 2s ease both;
  -ms-animation: fadeIn 3s 2s ease both;
  -o-animation: fadeIn 3s 2s ease both;
  animation: fadeIn 3s 2s ease both;
  -webkit-animation: fadeIn 6s 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -moz-animation: fadeIn 6s 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -ms-animation: fadeIn 6s 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -o-animation: fadeIn 6s 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: fadeIn 6s 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
