/* COLOR SETTING */
@-webkit-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
}

.animate {
  -webkit-animation: fadeIn 3s 2s ease both;
  -moz-animation: fadeIn 3s 2s ease both;
  -ms-animation: fadeIn 3s 2s ease both;
  -o-animation: fadeIn 3s 2s ease both;
  animation: fadeIn 3s 2s ease both;
  -webkit-animation: fadeIn 6s 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -moz-animation: fadeIn 6s 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -ms-animation: fadeIn 6s 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -o-animation: fadeIn 6s 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: fadeIn 6s 3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
