@charset "UTF-8";
/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\0000317}}
.floated {
  float: right;
  margin-left: 10em;
  margin-right: 10em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_layout\.sass}line{font-family:\00003333}}
.floated:first-child {
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_layout\.sass}line{font-family:\00003335}}
.floated:last-child {
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\0000327}}
.offset {
  top: 20px;
  left: 30%;
  bottom: 20em;
  right: 30px;
  bottom: 20px;
  left: 30%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\0000337}}
.top {
  top: 20px;
  top: 30em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\0000345}}
.left {
  left: 10%;
  left: 30em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\0000355}}
.zindex {
  z-index: 10;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\0000361}}
.position {
  position: relative;
  top: 30px;
  right: 40em;
  position: absolute;
  bottom: 34em;
  left: 20%;
  position: absolute;
  bottom: 34em;
  right: 20%;
  position: fixed;
  top: 30em;
  right: 40px;
  position: fixed;
  bottom: 34%;
  left: 20px;
  position: fixed;
  bottom: 34em;
  right: 20%;
  position: relative;
  top: 30px;
  right: 40em;
  position: relative;
  bottom: 34em;
  left: 20%;
  position: relative;
  bottom: 34em;
  right: 20%;
  position: static;
  position: static;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\0000393}}
.overflow {
  overflow: hidden;
  overflow: auto;
  overflow: visible;
  overflow: visible;
  overflow: scroll;
  overflow: scroll;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003109}}
.float {
  float: left;
  float: left;
  float: right;
  float: right;
  float: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003123}}
.clear {
  clear: left;
  clear: left;
  clear: right;
  clear: right;
  clear: none;
  clear: both;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003141}}
.display {
  display: block;
  display: block;
  display: none;
  display: inline-block;
  display: inline;
  display: inline;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003159}}
.visibility {
  visibility: visible;
  visibility: visible;
  visibility: hidden;
  visibility: hidden;
  visibility: collapse;
  visibility: collapse;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003175}}
.border {
  border-top: 3px solid #332a20;
  border-top: 3% dotted #332a20;
  border-right: 3px solid #332a20;
  border-right: 3% dotted #332a20;
  border-bottom: 3px solid #332a20;
  border-bottom: 3% dotted #332a20;
  border-left: 3px solid #332a20;
  border-left: 3% dotted #332a20;
  border-style: dotted;
  border-color: #332a84;
  border-width: 3em;
  border-style: solid;
  border-color: #332a84;
  border-width: 3em;
  border-style: dashed;
  border-color: #332a84;
  border-width: 3%;
  border-left: 0.5% solid #e5e5ee;
  border-left: 30px solid transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003221}}
.border-individule {
  border-top-style: solid;
  border-top-style: dotted;
  border-top-style: dotted;
  border-style: dotted;
  border-bottom-color: #151715;
  border-bottom-color: #321232;
  border-color: red;
  border-left-width: 1px;
  border-left-width: 3em;
  border-width: 40%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003261}}
.width {
  margin: 0 auto;
  width: 30%;
  max-width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003269}}
.height {
  height: 30em;
  min-height: 200%;
  height: 20em;
  margin: 0 auto;
  width: 300%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003281}}
.margin {
  margin-top: 10em;
  margin-top: 10%;
  margin-bottom: 10em;
  margin-bottom: 10%;
  margin-left: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-right: 10%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003307}}
.margins {
  margin: 0px auto 0px;
  margin: 30px 20em 10% 40px;
  margin: 30em auto 10%;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003319}}
.padding {
  padding-top: auto;
  padding-top: 10%;
  padding-bottom: auto;
  padding-bottom: 10px;
  padding-left: 10em;
  padding-left: 30em;
  padding-right: auto;
  padding-right: 10%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-layout\.sass}line{font-family:\00003345}}
.paddings {
  padding: 0px auto 0px;
  padding: 30px 20em 10% 40px;
  padding: 30em auto 10%;
  padding: 0;
}
