/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-background\.sass}line{font-family:\000034}}
.background {
  background: "main/test.png" no-repeat 30px 20px;
  background-position: 20px 30%;
  background-position: 20em 30px;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: repeat;
  background-color: white;
}
