@charset "UTF-8";
/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\000035}}
.keyframes {
  @-webkit-keyframes move {
    color: red;
}

  @-moz-keyframes move {
    color: red;
}

  @-ms-keyframes move {
    color: red;
}

  @keyframes move {
    color: red;
}

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\000038}}
  .media {
    color: red;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\000038}}
  .media {
    color: red;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000314}}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000317}}
.clearfix {
  zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_helpers\.sass}line{font-family:\00003395}}
.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0em;
  line-height: 0px;
  height: 0px;
  width: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_helpers\.sass}line{font-family:\00003411}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000320}}
.panel-box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(175, 175, 175, 0.4) -1px 1px 5px;
  -moz-box-shadow: rgba(175, 175, 175, 0.4) -1px 1px 5px;
  box-shadow: rgba(175, 175, 175, 0.4) -1px 1px 5px;
  background: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000323}}
.caret {
  content: "";
  display: inline-block;
  position: absolute;
  top: 13px;
  left: 11px;
  height: 0px;
  width: 0px;
  vertical-align: top;
  text-indent: -9999px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #666666;
  content: "";
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 7px;
  height: 0px;
  width: 0px;
  vertical-align: top;
  text-indent: -9999px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000327}}
.text3d {
  color: black;
  text-shadow: black 1px 1px 0px, black 2px 2px 0px, black 3px 3px 0px, black 4px 4px 0px, black 4px 4px 2px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000330}}
.well {
  min-height: 20px;
  background-color: #cccccc;
  border-style: solid;
  border-color: #333333;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.05);
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(175, 175, 175, 0.3) -1px 1px 5px;
  -moz-box-shadow: rgba(175, 175, 175, 0.3) -1px 1px 5px;
  box-shadow: rgba(175, 175, 175, 0.3) -1px 1px 5px;
  min-height: 20px;
  background-color: #cccccc;
  border-style: solid;
  border-color: #333333;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.05);
  padding: 15px 15px 15px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(175, 175, 175, 0.05) 0 1px 1px 0 inset;
  -moz-box-shadow: rgba(175, 175, 175, 0.05) 0 1px 1px 0 inset;
  box-shadow: rgba(175, 175, 175, 0.05) 0 1px 1px 0 inset;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000334}}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000337}}
.hstyle {
  color: #333333;
  font-size: 1.8em;
  font-family: arial, helvetica, Verdana, sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000340}}
.pstyle {
  font-size: 1.4em;
  font-family: arial, helvetica, Verdana, sans-serif;
  font-weight: 300;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000343}}
.cursor {
  cursor: crosshair;
  cursor: pointer;
  cursor: progress;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000348}}
.resize {
  resize: both;
  overflow: auto;
  resize: both;
  overflow: auto;
  resize: vertical;
  overflow: auto;
  resize: horizontal;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/test\/test-helpers\.sass}line{font-family:\0000354}}
.uselect {
  -webkit-user-select: all;
  -moz-user-select: all;
  -o-user-select: all;
  -ms-user-select: all;
  user-select: all;
  -webkit-user-select: element;
  -moz-user-select: element;
  -o-user-select: element;
  -ms-user-select: element;
  user-select: element;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
