/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\000034}}
body {
  font-family: "PT Sans", sans-serif;
  min-height: 740px;
  background: #d7d7d7;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#f0f0f0), to(#bebebe));
  background: -webkit-radial-gradient(#f0f0f0, #bebebe);
  background: -moz-radial-gradient(#f0f0f0, #bebebe);
  background: -ms-radial-gradient(#f0f0f0, #bebebe);
  background: -o-radial-gradient(#f0f0f0, #bebebe);
  background: radial-gradient(#f0f0f0, #bebebe);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\0000317}}
a {
  color: inherit;
  padding: 0 0.1em;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.9);
  border-radius: 0.2em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\0000331}}
a:hover,
a:focus {
  background: white;
  text-shadow: -1px -1px 2px rgba(100, 100, 100, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\0000336}}
.fallback-message {
  font-family: arial, helvetica, Verdana, sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #e4c652;
  border-radius: 10px;
  background: #eedc94;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\0000348}}
.fallback-message p {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\0000350}}
.impress-supported .fallback-message {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\0000353}}
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Serif", georgia, serif;
  font-size: 48px;
  line-height: 1.5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\0000369}}
.impress-enabled .step {
  margin: 0;
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\0000379}}
.impress-enabled .step.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\0000382}}
.slide {
  display: block;
  height: 700px;
  width: 900px;
  padding: 40px 60px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
  color: #666666;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003101}}
.slide h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #838383;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003105}}
.slide h2 strong {
  color: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003107}}
.slide p {
  font-size: 1.6em;
  font-weight: 700;
  color: #838383;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003112}}
.slide ul {
  font-size: 1em;
  margin-left: 75px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003115}}
.slide ul li {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-family: arial, helvetica, Verdana, sans-serif;
  color: #333333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003123}}
#framework-features ul li {
  font-size: 1.2em;
  line-height: 1.4em;
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003129}}
#ready h3 {
  margin-top: 200px;
  line-height: 1.4em;
  font-family: arial, helvetica, Verdana, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003133}}
#ready span {
  display: inline-block;
  color: red;
  font-weight: 700;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003147}}
#ready.present .positioning {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003155}}
#ready.present .rotating {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003168}}
#ready.present .scaling {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003182}}
#feature1 h4, #feature2 h4, #feature4 h4 {
  font-size: 1em;
  font-family: arial, helvetica, Verdana, sans-serif;
  line-height: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003186}}
#feature1 h4 span, #feature2 h4 span, #feature4 h4 span {
  font-size: 1.6em;
  color: black;
  font-weight: 700;
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003193}}
#feature3 h4, #feature5 h4, #feature6 h4 {
  font-size: 1em;
  font-family: arial, helvetica, Verdana, sans-serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003196}}
#feature3 h4 span, #feature5 h4 span, #feature6 h4 span {
  font-size: 1.2em;
  color: black;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003201}}
#feature1-details ul {
  font-size: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003203}}
#feature1-details li {
  font-size: 0.7em;
  line-height: 1.3em;
  color: #333333;
  margin-bottom: 35px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003210}}
#last h4 {
  color: black;
  font-size: 1.4em;
  line-height: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003214}}
#last h4 span {
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003216}}
#last p {
  color: #afafaf;
  font-size: 1em;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003231}}
#its-in-3d p {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003243}}
#its-in-3d span,
#its-in-3d b {
  display: inline-block;
  -webkit-transform: translateZ(40px);
  -moz-transform: translateZ(40px);
  -ms-transform: translateZ(40px);
  -o-transform: translateZ(40px);
  transform: translateZ(40px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003260}}
#its-in-3d .have {
  -webkit-transform: translateZ(-40px);
  -moz-transform: translateZ(-40px);
  -ms-transform: translateZ(-40px);
  -o-transform: translateZ(-40px);
  transform: translateZ(-40px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003268}}
#its-in-3d .you {
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  -ms-transform: translateZ(20px);
  -o-transform: translateZ(20px);
  transform: translateZ(20px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003276}}
#its-in-3d .noticed {
  -webkit-transform: translateZ(-40px);
  -moz-transform: translateZ(-40px);
  -ms-transform: translateZ(-40px);
  -o-transform: translateZ(-40px);
  transform: translateZ(-40px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003284}}
#its-in-3d .its {
  -webkit-transform: translateZ(60px);
  -moz-transform: translateZ(60px);
  -ms-transform: translateZ(60px);
  -o-transform: translateZ(60px);
  transform: translateZ(60px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003292}}
#its-in-3d .in {
  -webkit-transform: translateZ(-10px);
  -moz-transform: translateZ(-10px);
  -ms-transform: translateZ(-10px);
  -o-transform: translateZ(-10px);
  transform: translateZ(-10px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003300}}
#its-in-3d .footnote {
  font-size: 32px;
  -webkit-transform: translateZ(-10px);
  -moz-transform: translateZ(-10px);
  -ms-transform: translateZ(-10px);
  -o-transform: translateZ(-10px);
  transform: translateZ(-10px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003310}}
#its-in-3d.present span,
#its-in-3d.present b {
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003318}}
#overview {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003321}}
.impress-on-overview .step {
  opacity: 1;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003325}}
.hint {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 200px;
  background: rgba(0, 0, 0, 0.5);
  color: #eeeeee;
  text-align: center;
  font-size: 50px;
  padding: 20px;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translateY(400px);
  -moz-transform: translateY(400px);
  -ms-transform: translateY(400px);
  -o-transform: translateY(400px);
  transform: translateY(400px);
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003363}}
.impress-enabled .hint {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003366}}
.impress-on-bored .hint {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: opacity 1s 5s;
  -moz-transition: opacity 1s 5s;
  -ms-transition: opacity 1s 5s;
  -o-transition: opacity 1s 5s;
  transition: opacity 1s 5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003388}}
.impress-enabled {
  pointer-events: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/presentation\/presentation\.sass}line{font-family:\00003390}}
.impress-enabled #impress {
  pointer-events: auto;
}
