@charset "UTF-8";
/* =================== Stylesheet Info =================== */
/* Stylesheet for Project Name */
/* Version 1.0 modified on ${DATE} ${TIME} */
/* Copyright©2012 Matt Ma Design */
/* Senior Web Developer -- Matt Ma. ( matt@mattmadesign.com ) */
/* http://www.mattmadesign.com */
/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000318}}
body {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000320}}
body > nav {
  height: 100%;
  width: 20%;
  position: fixed;
  background-color: #f5f5ff;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 1px 1px 1px;
  -moz-box-shadow: rgba(51, 51, 51, 0.2) 1px 1px 1px;
  box-shadow: rgba(51, 51, 51, 0.2) 1px 1px 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000325}}
body > nav > ul {
  overflow-y: scroll;
  height: 880px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000328}}
body > section {
  height: 100%;
  width: 80%;
  padding-left: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000331}}
body > section > div {
  padding-top: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000334}}
h3 {
  color: #333333;
  margin-bottom: 15px;
  font-size: 2.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000339}}
.spacing {
  margin: 30px 0px 30px 0px;
  zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_helpers\.sass}line{font-family:\00003395}}
.spacing:before, .spacing:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0em;
  line-height: 0px;
  height: 0px;
  width: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_helpers\.sass}line{font-family:\00003411}}
.spacing:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000344}}
.doc p {
  height: auto;
  width: 50%;
  font-size: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000347}}
.doc p.content {
  width: 75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000349}}
.doc code {
  line-height: 1.8em;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000354}}
.comingSoon {
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000357}}
hr {
  margin: 40px 0px 40px 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000362}}
nav h2 {
  padding-left: 15px;
  margin-top: 40px;
  color: #333333;
  font-size: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000367}}
nav > ul {
  margin-top: 25px;
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000371}}
nav > ul > li {
  margin-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000373}}
nav > ul ul {
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000375}}
nav > ul ul li {
  margin-bottom: 3px;
  height: auto;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000378}}
nav > ul ul a {
  font-size: 1.5em;
  color: #4b4b4b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000352}}
nav > ul ul a:hover {
  color: red;
}

/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\000035}}
#grid960 p {
  display: inline;
  float: left;
  width: 110px;
  margin: 0 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\000039}}
#grid960push p {
  display: inline;
  float: left;
  width: 70px;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000390}}
#grid960push p:last-child {
  margin-left: 165px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000316}}
#grid960pull p {
  display: inline;
  float: left;
  width: 70px;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000360}}
#grid960pull p:first-child {
  padding-right: 320px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000323}}
#grid1140 p {
  display: inline;
  float: left;
  width: 4.85%;
  margin-right: 3.8%;
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000390}}
#grid1140 p:last-child {
  display: inline;
  float: left;
  width: 4.85%;
  margin-right: 3.8%;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000331}}
#grid1140push p {
  display: inline;
  float: left;
  width: 4.85%;
  margin-right: 3.8%;
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000366}}
#grid1140push p:nth-child(3) {
  margin-left: 25.95%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000390}}
#grid1140push p:last-child {
  display: inline;
  float: left;
  width: 4.85%;
  margin-right: 3.8%;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000339}}
#blockEqualWidth li {
  float: left;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000347}}
#blockEqualWidth li:first-child:nth-last-child(1) {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000353}}
#blockEqualWidth li:first-child:nth-last-child(2),
#blockEqualWidth li:first-child:nth-last-child(2) ~ li {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000361}}
#blockEqualWidth li:first-child:nth-last-child(3),
#blockEqualWidth li:first-child:nth-last-child(3) ~ li {
  width: 33.3333%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000369}}
#blockEqualWidth li:first-child:nth-last-child(4),
#blockEqualWidth li:first-child:nth-last-child(4) ~ li {
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000377}}
#blockEqualWidth li:first-child:nth-last-child(5),
#blockEqualWidth li:first-child:nth-last-child(5) ~ li {
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000385}}
#blockEqualWidth li:first-child:nth-last-child(6),
#blockEqualWidth li:first-child:nth-last-child(6) ~ li {
  width: 16.6666%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000393}}
#blockEqualWidth li:first-child:nth-last-child(7),
#blockEqualWidth li:first-child:nth-last-child(7) ~ li {
  width: 14.2857%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000343}}
#blockEqualWidthWithMargin {
  background-color: #e7e7e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003111}}
#blockEqualWidthWithMargin li {
  float: left;
  position: relative;
  padding: 0;
  height: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003121}}
#blockEqualWidthWithMargin li:after {
  content: "";
  height: 56px;
  width: 0px;
  background-color: red;
  position: absolute;
  top: 7px;
  right: -7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003131}}
#blockEqualWidthWithMargin li:last-child:after {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003139}}
#blockEqualWidthWithMargin li:first-child {
  margin-left: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003153}}
#blockEqualWidthWithMargin li:last-child {
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003165}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(1) {
  margin: 0;
  width: 946px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003199}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(2),
#blockEqualWidthWithMargin li:first-child:nth-last-child(2) ~ li {
  width: 466px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003221}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(3),
#blockEqualWidthWithMargin li:first-child:nth-last-child(3) ~ li {
  width: 306px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003243}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(4),
#blockEqualWidthWithMargin li:first-child:nth-last-child(4) ~ li {
  width: 226px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003265}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(5),
#blockEqualWidthWithMargin li:first-child:nth-last-child(5) ~ li {
  width: 178px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003287}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(6),
#blockEqualWidthWithMargin li:first-child:nth-last-child(6) ~ li {
  width: 146px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003309}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(7),
#blockEqualWidthWithMargin li:first-child:nth-last-child(7) ~ li {
  width: 123px;
  margin-left: 7px;
  margin-right: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003353}}
#multiRowBlockEqualWidth ul {
  display: block;
  overflow: hidden;
  margin-left: -2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003361}}
#multiRowBlockEqualWidth ul li {
  display: block;
  height: 60px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003429}}
#multiRowBlockEqualWidth ul li {
  margin-left: 2%;
  width: 23%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000351}}
#multiRowBlockEqualWidth li {
  margin-bottom: 1.6666%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000355}}
#boxModel ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  *display: inline;
  margin-right: -4px;
  vertical-align: top;
  padding-left: 5px;
  border-left: 10px solid transparent;
  width: 240px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000359}}
.grid-system {
  margin-top: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000360}}
.grid-system:first-child {
  margin-top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000364}}
.grid-system .spacing p, .grid-system .spacing li {
  background-color: lightgrey;
  height: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000360}}
.grid-system .spacing p:first-child, .grid-system .spacing li:first-child {
  background: #e9cccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000363}}
.grid-system .spacing p:nth-child(2), .grid-system .spacing li:nth-child(2) {
  background: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000366}}
.grid-system .spacing p:nth-child(3), .grid-system .spacing li:nth-child(3) {
  background: green;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000369}}
.grid-system .spacing p:nth-child(4), .grid-system .spacing li:nth-child(4) {
  background: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000372}}
.grid-system .spacing p:nth-child(5), .grid-system .spacing li:nth-child(5) {
  background: yellow;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000375}}
.grid-system .spacing p:nth-child(6), .grid-system .spacing li:nth-child(6) {
  background: maroon;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000378}}
.grid-system .spacing p:nth-child(7), .grid-system .spacing li:nth-child(7) {
  background: blue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000381}}
.grid-system .spacing p:nth-child(8), .grid-system .spacing li:nth-child(8) {
  background: #c4cccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000384}}
.grid-system .spacing p:nth-child(9), .grid-system .spacing li:nth-child(9) {
  background: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000390}}
.grid-system .spacing p:last-child, .grid-system .spacing li:last-child {
  background: #149797;
}

/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/main\/\*\.png}line{font-family:\00003114}}
.main-sprite, #imageSprite li:first-child, #imageSprite li:nth-child(2), #imageSprite li:nth-child(3) {
  background: url('../images/main-s25855510a0.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_image-sprite\.sass}line{font-family:\000035}}
#imageSprite {
  height: 121px;
  width: 960px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_image-sprite\.sass}line{font-family:\000037}}
#imageSprite li {
  height: 121px;
  width: 128px;
  margin-right: 20px;
  float: left;
  text-indent: -9999px;
  background-repeat: no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000360}}
#imageSprite li:first-child {
  background-position: -10px -262px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000343}}
#imageSprite li:first-child:hover, #imageSprite li:first-child.facebook_hover, #imageSprite li:first-child.facebook-hover {
  background-position: -10px -1048px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000343}}
#imageSprite li:first-child:target, #imageSprite li:first-child.facebook_target, #imageSprite li:first-child.facebook-target {
  background-position: -10px -786px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000343}}
#imageSprite li:first-child:active, #imageSprite li:first-child.facebook_active, #imageSprite li:first-child.facebook-active {
  background-position: -10px -393px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000363}}
#imageSprite li:nth-child(2) {
  background-position: -10px -131px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000343}}
#imageSprite li:nth-child(2):hover, #imageSprite li:nth-child(2).twitter_hover, #imageSprite li:nth-child(2).twitter-hover {
  background-position: -10px -1179px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000343}}
#imageSprite li:nth-child(2):target, #imageSprite li:nth-child(2).twitter_target, #imageSprite li:nth-child(2).twitter-target {
  background-position: -10px -655px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000366}}
#imageSprite li:nth-child(3) {
  background-position: -10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000343}}
#imageSprite li:nth-child(3):hover, #imageSprite li:nth-child(3).linkedin_hover, #imageSprite li:nth-child(3).linkedin-hover {
  background-position: -10px -917px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/compass\.app\/Contents\/Resources\/ruby\/compass_0\.12\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000343}}
#imageSprite li:nth-child(3):target, #imageSprite li:nth-child(3).linkedin_target, #imageSprite li:nth-child(3).linkedin-target {
  background-position: -10px -524px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000352}}
#imageSprite li:hover {
  cursor: pointer;
}

/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\000034}}
#ui-alert {
  padding: 20px 40px;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #f2dede;
  border: 1px solid #eed3d7;
  color: #b94a48;
  line-height: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003165}}
#ui-alert [data-action="dismiss"] {
  position: relative;
  top: -5px;
  right: -20px;
  line-height: 18px;
  color: black;
  float: right;
  font-size: 2em;
  font-weight: 700;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  text-shadow: white 0 1px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003176}}
#ui-alert [data-action="dismiss"]:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\000039}}
#ui-pagination {
  height: 36px;
  margin: 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003220}}
#ui-pagination ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 2px;
  margin-left: 0;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003228}}
#ui-pagination li {
  display: inline;
  height: 36px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003231}}
#ui-pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003234}}
#ui-pagination li:last-child a {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003236}}
#ui-pagination li.active a {
  color: #999999;
  cursor: default;
  background-color: whitesmoke;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003241}}
#ui-pagination li.disabled span, #ui-pagination li.disabled a, #ui-pagination li.disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003245}}
#ui-pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  border: 1px solid #dddddd;
  border-left-width: 0;
  display: inline;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003253}}
#ui-pagination a:hover {
  background-color: whitesmoke;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000311}}
#ui-pagination li a {
  font-size: 1.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000315}}
#ui-breadcrumb {
  list-style: none;
  padding: 7px 15px;
  background-color: #fbfbfb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
  background-image: linear-gradient(top, #ffffff, #f5f5f5);
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: white 0 1px 0 0 inset;
  -moz-box-shadow: white 0 1px 0 0 inset;
  box-shadow: white 0 1px 0 0 inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003193}}
#ui-breadcrumb li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-shadow: white 0 1px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003198}}
#ui-breadcrumb li:after {
  content: "/";
  display: inline-block;
  padding: 0 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003202}}
#ui-breadcrumb li:last-child:after {
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003204}}
#ui-breadcrumb li:last-child, #ui-breadcrumb li:last-child a {
  color: #2c4460;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003206}}
#ui-breadcrumb li a {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000319}}
#ui-pager {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003268}}
#ui-pager:before, #ui-pager:after {
  display: table;
  content: "";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003271}}
#ui-pager:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003273}}
#ui-pager li {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003275}}
#ui-pager li:first-child a {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003277}}
#ui-pager li:last-child a {
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003280}}
#ui-pager li.disabled a, #ui-pager li.disabled a:hover {
  color: #999999;
  background-color: white;
  cursor: default;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003284}}
#ui-pager a {
  display: inline-block;
  padding: 5px 14px;
  background-color: white;
  border: 1px solid #dddddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003293}}
#ui-pager a:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000323}}
#ui-label {
  padding: 1px 4px 2px 4px;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #3a87ad;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003311}}
#ui-label:hover {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003331}}
#ui-label:hover {
  background-color: #2d6987;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000325}}
#ui-label p {
  margin-bottom: 0px;
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000331}}
#ui-counter p {
  padding: 1px 12px 2px 12px;
  white-space: nowrap;
  color: white;
  display: inline;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #b94a48;
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003349}}
#ui-counter p:hover {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003357}}
#ui-counter p:hover {
  background-color: #953b39;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000337}}
#ui-tooltip p {
  height: 150px;
  width: 460px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000340}}
#ui-tooltip p span {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000344}}
#ui-tooltip p:hover span {
  height: 80px;
  width: 210px;
  padding-top: 10px;
  padding-left: 15px;
  position: absolute;
  top: -150px;
  left: 470px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: black;
  background-color: #cccccc;
  display: block;
  position: relative;
  border: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\0000398}}
#ui-tooltip p:hover span:after {
  content: "\00a0";
  display: block;
  position: absolute;
  height: 0px;
  width: 0px;
  border-width: 13px;
  border-style: solid;
  border-color: transparent #cccccc transparent transparent;
  border-color: rgba(255, 255, 255, 0) #cccccc rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  left: -26px;
  top: 28px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000355}}
#ui-close {
  float: left;
  font-size: 30px;
  text-shadow: white 0 1px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  color: black;
  margin: 0px 0px 0px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003917}}
#ui-close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
  cursor: pointer;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000361}}
#ui-thumbnail a {
  width: 260px;
  display: block;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
  padding: 4px 6px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003607}}
#ui-thumbnail a:hover {
  border-color: #0088cc;
  -webkit-box-shadow: rgba(0, 105, 214, 0.25) 0 1px 4px;
  -moz-box-shadow: rgba(0, 105, 214, 0.25) 0 1px 4px;
  box-shadow: rgba(0, 105, 214, 0.25) 0 1px 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003614}}
#ui-thumbnail a > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000367}}
#ui-well div {
  min-height: 20px;
  background-color: whitesmoke;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.05);
  padding: 15px 15px 15px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(175, 175, 175, 0.05) 0 1px 1px 0 inset;
  -moz-box-shadow: rgba(175, 175, 175, 0.05) 0 1px 1px 0 inset;
  box-shadow: rgba(175, 175, 175, 0.05) 0 1px 1px 0 inset;
  font-size: 1.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000376}}
#ui-progress div {
  overflow: hidden;
  height: 18px;
  margin-bottom: 18px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px 0 inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  @-webkit-keyframes progress-bar-stripes {
    /* line 538, sass/framework/_plugins.sass */
    from {
      background-position: 0 0;
    }

    /* line 540, sass/framework/_plugins.sass */
    to {
      background-position: 40px 0;
    }
}

  @-moz-keyframes progress-bar-stripes {
    /* line 543, sass/framework/_plugins.sass */
    from {
      background-position: 0 0;
    }

    /* line 545, sass/framework/_plugins.sass */
    to {
      background-position: 40px 0;
    }
}

  @-ms-keyframes progress-bar-stripes {
    /* line 548, sass/framework/_plugins.sass */
    from {
      background-position: 0 0;
    }

    /* line 550, sass/framework/_plugins.sass */
    to {
      background-position: 40px 0;
    }
}

  @keyframes progress-bar-stripes {
    /* line 553, sass/framework/_plugins.sass */
    from {
      background-position: 0 0;
    }

    /* line 555, sass/framework/_plugins.sass */
    to {
      background-position: 40px 0;
    }
}

}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_plugins\.sass}line{font-family:\00003495}}
#ui-progress div > * {
  width: 0%;
  height: 18px;
  color: white;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #149bdf), color-stop(100%, #0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(top, #149bdf, #0480be);
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 -1px 0 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 -1px 0 0 inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0 -1px 0 0 inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  -moz-transition: width 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  -o-transition: width 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: width 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000385}}
.ui-elements {
  margin-top: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000360}}
.ui-elements:first-child {
  margin-top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_ui-elements\.sass}line{font-family:\0000390}}
.ui-elements .spacing {
  font-size: 1.4em;
}

/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_table\.sass}line{font-family:\000034}}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003811}}
table th, table td {
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  padding: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003817}}
table th {
  font-weight: 700;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003821}}
table thead th {
  vertical-align: bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003825}}
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_utilities\.sass}line{font-family:\00003832}}
table tbody + tbody {
  border-top: 2px solid #dddddd;
}
