@charset "UTF-8";
/* =================== Stylesheet Info =================== */
/* Stylesheet for Project Name */
/* Version 1.0 modified on ${DATE} ${TIME} */
/* Copyright©2012 Matt Ma Design */
/* Senior Web Developer -- Matt Ma. ( matt@mattmadesign.com ) */
/* http://www.mattmadesign.com */
/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000318}}
body {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000320}}
body > nav {
  height: 100%;
  width: 20%;
  position: fixed;
  background-color: #f5f5ff;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 1px 1px 1px;
  -moz-box-shadow: rgba(51, 51, 51, 0.2) 1px 1px 1px;
  box-shadow: rgba(51, 51, 51, 0.2) 1px 1px 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000325}}
body > section {
  height: 100%;
  width: 80%;
  padding-left: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000328}}
body > section > div {
  padding-top: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000331}}
h3 {
  color: #333333;
  margin-bottom: 15px;
  font-size: 2.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000336}}
.spacing {
  margin: 30px 0px 30px 0px;
  zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_helpers\.sass}line{font-family:\00003397}}
.spacing:before, .spacing:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0em;
  line-height: 0px;
  height: 0px;
  width: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_helpers\.sass}line{font-family:\00003413}}
.spacing:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000341}}
.doc p {
  height: auto;
  width: 50%;
  font-size: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000344}}
.doc p.content {
  width: 75%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000346}}
.doc code {
  line-height: 1.8em;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000351}}
.comingSoon {
  color: red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000356}}
nav h2 {
  padding-left: 15px;
  margin-top: 40px;
  color: #333333;
  font-size: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000361}}
nav > ul {
  margin-top: 25px;
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000365}}
nav > ul > li {
  margin-bottom: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000367}}
nav > ul ul {
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000369}}
nav > ul ul li {
  margin-bottom: 3px;
  height: auto;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/base\.sass}line{font-family:\0000372}}
nav > ul ul a {
  font-size: 1.5em;
  color: #4b4b4b;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000353}}
nav > ul ul a:hover {
  color: red;
}

/* COLOR SETTING */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\000035}}
#grid960 p {
  display: inline;
  float: left;
  width: 110px;
  margin: 0 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\000039}}
#grid960push p {
  display: inline;
  float: left;
  width: 70px;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000391}}
#grid960push p:last-child {
  margin-left: 165px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000316}}
#grid960pull p {
  display: inline;
  float: left;
  width: 70px;
  margin: 0 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000361}}
#grid960pull p:first-child {
  padding-right: 320px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000323}}
#grid1140 p {
  display: inline;
  float: left;
  width: 4.85%;
  margin-right: 3.8%;
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000391}}
#grid1140 p:last-child {
  display: inline;
  float: left;
  width: 4.85%;
  margin-right: 3.8%;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000331}}
#grid1140push p {
  display: inline;
  float: left;
  width: 4.85%;
  margin-right: 3.8%;
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000367}}
#grid1140push p:nth-child(3) {
  margin-left: 25.95%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000391}}
#grid1140push p:last-child {
  display: inline;
  float: left;
  width: 4.85%;
  margin-right: 3.8%;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000341}}
#blockEqualWidth li {
  float: left;
  margin: 0;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000349}}
#blockEqualWidth li:first-child:nth-last-child(1) {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000355}}
#blockEqualWidth li:first-child:nth-last-child(2),
#blockEqualWidth li:first-child:nth-last-child(2) ~ li {
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000363}}
#blockEqualWidth li:first-child:nth-last-child(3),
#blockEqualWidth li:first-child:nth-last-child(3) ~ li {
  width: 33.3333%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000371}}
#blockEqualWidth li:first-child:nth-last-child(4),
#blockEqualWidth li:first-child:nth-last-child(4) ~ li {
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000379}}
#blockEqualWidth li:first-child:nth-last-child(5),
#blockEqualWidth li:first-child:nth-last-child(5) ~ li {
  width: 20%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000387}}
#blockEqualWidth li:first-child:nth-last-child(6),
#blockEqualWidth li:first-child:nth-last-child(6) ~ li {
  width: 16.6666%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\0000395}}
#blockEqualWidth li:first-child:nth-last-child(7),
#blockEqualWidth li:first-child:nth-last-child(7) ~ li {
  width: 14.2857%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000343}}
#blockEqualWidthWithMargin {
  background-color: #e7e7e7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003113}}
#blockEqualWidthWithMargin li {
  float: left;
  position: relative;
  padding: 0;
  height: 70px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003123}}
#blockEqualWidthWithMargin li:after {
  content: "";
  height: 56px;
  width: 0px;
  background-color: red;
  position: absolute;
  top: 7px;
  right: -7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003133}}
#blockEqualWidthWithMargin li:last-child:after {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003141}}
#blockEqualWidthWithMargin li:first-child {
  margin-left: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003155}}
#blockEqualWidthWithMargin li:last-child {
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003167}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(1) {
  margin: 0;
  width: 946px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003201}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(2),
#blockEqualWidthWithMargin li:first-child:nth-last-child(2) ~ li {
  width: 466px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003223}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(3),
#blockEqualWidthWithMargin li:first-child:nth-last-child(3) ~ li {
  width: 306px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003245}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(4),
#blockEqualWidthWithMargin li:first-child:nth-last-child(4) ~ li {
  width: 226px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003267}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(5),
#blockEqualWidthWithMargin li:first-child:nth-last-child(5) ~ li {
  width: 178px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003289}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(6),
#blockEqualWidthWithMargin li:first-child:nth-last-child(6) ~ li {
  width: 146px;
  margin-left: 7px;
  margin-right: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003311}}
#blockEqualWidthWithMargin li:first-child:nth-last-child(7),
#blockEqualWidthWithMargin li:first-child:nth-last-child(7) ~ li {
  width: 123px;
  margin-left: 7px;
  margin-right: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003355}}
#multiRowBlockEqualWidth ul {
  display: block;
  overflow: hidden;
  margin-left: -2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003363}}
#multiRowBlockEqualWidth ul li {
  display: block;
  height: 60px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_grid\.sass}line{font-family:\00003431}}
#multiRowBlockEqualWidth ul li {
  margin-left: 2%;
  width: 23%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000351}}
#multiRowBlockEqualWidth li {
  margin-bottom: 1.6666%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000355}}
#boxModel ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  *display: inline;
  margin-right: -4px;
  vertical-align: top;
  padding-left: 5px;
  border-left: 10px solid transparent;
  width: 240px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000359}}
.grid-system {
  margin-top: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000361}}
.grid-system:first-child {
  margin-top: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/sections\/_grids-demo\.sass}line{font-family:\0000364}}
.grid-system .spacing p, .grid-system .spacing li {
  background-color: lightgrey;
  height: 160px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000361}}
.grid-system .spacing p:first-child, .grid-system .spacing li:first-child {
  background: #e9cccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000364}}
.grid-system .spacing p:nth-child(2), .grid-system .spacing li:nth-child(2) {
  background: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000367}}
.grid-system .spacing p:nth-child(3), .grid-system .spacing li:nth-child(3) {
  background: green;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000370}}
.grid-system .spacing p:nth-child(4), .grid-system .spacing li:nth-child(4) {
  background: black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000373}}
.grid-system .spacing p:nth-child(5), .grid-system .spacing li:nth-child(5) {
  background: yellow;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000376}}
.grid-system .spacing p:nth-child(6), .grid-system .spacing li:nth-child(6) {
  background: maroon;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000379}}
.grid-system .spacing p:nth-child(7), .grid-system .spacing li:nth-child(7) {
  background: blue;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000382}}
.grid-system .spacing p:nth-child(8), .grid-system .spacing li:nth-child(8) {
  background: #c4cccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000385}}
.grid-system .spacing p:nth-child(9), .grid-system .spacing li:nth-child(9) {
  background: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/bigmabig\/Desktop\/FrameworkDemo\/static\/styles\/sass\/framework\/_pseudo\.sass}line{font-family:\0000391}}
.grid-system .spacing p:last-child, .grid-system .spacing li:last-child {
  background: #149797;
}
